<html>
    <head>
        <%- include("../partial/meta") %>
        <%- include("../partial/style")%>
        <%- include("../partial/script") %>
    </head>
    <body>
        <header>
            <%- include("../partial/navbar") %>
        </header>
        <main onshow="load_theme()">
            <div class="jumbotron rin-bg-theme" style="display: flex; min-height: 100%; min-width: 100%;">
                <div class="container p-5 text-center">
                    <div class="flex-wrap">
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="rin-text" style="margin-top: 5%; margin-bottom: 7%;">
                                <h1><%- CategoryName %> Commands</h1>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col" class="rin-text">Name</th>
                                        <th scope="col" class="rin-text">Description</th>
                                        <th scope="col" class="rin-text">Cooldown</th>
                                        <th scope="col" class="rin-text">Usage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% CommandsName.forEach(x => { %>
                                        <tr>
                                            <th scope="row" class="rin-text"><%- x %></th>
                                            <td class="rin-text"><%- require(`../commands/${CategoryName}/${x}`).description.replace(/\n/gi, "<br>") %></td>
                                            <td class="rin-text"><%- PrettyMs(require(`../commands/${CategoryName}/${x}`).cooldown, { verbose: true }) %></td>
                                            <td class="rin-text"><%= require(`../commands/${CategoryName}/${x}`).usage %></td>
                                        </tr>    
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>