<html>
    <head>
        <%- include("../partial/meta") %>
        <%- include("../partial/style") %>
        <%- include("../partial/script") %>
        <script>
            const socket = io()
            socket.on("pingUpdate", Rin => {
                if(Rin.Update = false) {
                    const doc = document.getElementsByClassName("pingUpdate")
                    doc.innerHTML = `Pun10 ${Rin.ws.ping}`
                } else {
                    
                }
            })
        </script>
    </head>
    <body>
        <header>
            <%- include("../partial/navbar") %>
        </header>
        <main onshow="load_theme()">
            <div class="jumbotron align-items-center rin-bg-theme" style="display: flex; min-height: 100%; min-width: 100%;" id="rin-upper-theme">
                <div class="container p-5 text-center">
                    <div class="flex-wrap rin-fade-in">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src=<%= Rin.user.displayAvatarURL({format: "png", size: 2048}) %> width="250" height="250" class="rounded-circle">
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div style="color: black;" class="rin-text">
                                <h1><%- Rin.user.username %></h1>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center">
                            <div class="flex-between">
                                <a class="btn btn-outline-dark rin-go-about" href="#about" style="color: black;" id="rin-upper-button-about">About</a>
                                <a class="btn btn-outline-dark rin-go-about" href="#contributors" style="color: black;" id="rin-upper-button-contributor">Contributors</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jumbotron justify-content-center" style="min-height: 100%; background-color: white;" id="rin-below">
                <div class="container text-center">
                    <div class="flex-wrap rin-text">
                        <div class="d-flex justify-content-center align-items-center">
                            <h1 id="about" style="margin-top: 5%; margin-bottom: 2%;">
                                About
                            </h1>
                        </div>
                        <h4 class="flex-between">
                            Rin Shima is a Discord Bot project created by Mednoob. 
                            This bot has many features like custom respond, kick, music(beta), and more!
                        </h4>
                        <div class="d-flex justify-content-center align-items-center">
                            <h1 id="contributors" style="margin-top: 5%; margin-bottom: 2%;">
                                Contributors
                            </h1>
                        </div>
                        <div class="row flex-between justify-content-center">
                            <div class="col-sm-6">
                                <img src="<%- Rin.users.cache.get("366169273485361153").displayAvatarURL({size: 2048, format: "png", dynamic: true}) %>" width="250" height="250" class="rounded-circle">
                                <h4 style="margin: 10px;">
                                    <%- Rin.users.cache.get("366169273485361153").username %>
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <img src="<%- Rin.users.cache.get("543698101886779413").displayAvatarURL({size: 2048, format: "png", dynamic: true}) %>" width="250" height="250" class="rounded-circle">
                                <h4 style="margin: 10px;">
                                    <%- Rin.users.cache.get("543698101886779413").username %>
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <img src="<%- Rin.users.cache.get("499021389572079620").displayAvatarURL({size: 2048, format: "png", dynamic: true}) %>" width="250" height="250" class="rounded-circle">
                                <h4 style="margin: 10px;">
                                    <%- Rin.users.cache.get("499021389572079620").username %>
                                </h4>
                            </div>
                            <div class="col-sm-6">
                                <img src="<%- Rin.users.cache.get("725331428962992131").displayAvatarURL({size: 2048, format: "png", dynamic: true}) %>" width="250" height="250" class="rounded-circle">
                                <h4 style="margin: 10px;">
                                    <%- Rin.users.cache.get("725331428962992131").username %>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>